.project-container{
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  width: 250px;
  min-height: 328px;
  margin: 10px;
  border: 2px solid black!important;
}

.card-body{
  min-height: 185px;
}
