.card-text{
  text-align: left;
}

.tech-div{
  height: 100%;
  width: 100%;
}

.technology-group{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.technology{
  min-width: 60px;
  margin: 3px;
}
